@font-face{
    font-family:'minecraft';/*字体*/
    src: url('minecraft.ttf');
}
font{
    font-family:'minecraft';/*字体*/
    font-family:'minecraft';/*字体*/
    font-size: 25px;    /*字体大小*/
    text-align: center; /*字体居中*/
}
button
{
    width: 600px;       /*按钮宽度*/
    height: 60px;       /*按钮高度*/
    background-image: url('buttom.png');
    background-size: 100%;
    color:white;      /*字体颜色*/
    border-width: 0px;  /*按钮的边框*/
/*  margin: 0;*/
    outline: none;      /*取消轮廓*/
    cursor: pointer;    /*鼠标箭头手势*/
}
button:hover
{
    background-image: url('buttom_hover.png');
    background-size: 100%;
}
/*
.about
{
    position: fixed;
    font-family:'Gill Sans';
    bottom: 0px;
}
*/

/*
html{
    filter: gray;
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
     -webkit-filter: grayscale(1);
}
*/